body {
    background-image: url("lg.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
     background-attachment: fixed;

}

h3 {
    color: lightslategrey;
    margin-left: 1px;

}

